[{:itonami.blueprint/social-impact [:sustainable-landscape :environmental-stewardship :biodiversity :water-management]
  :itonami.blueprint/domain :design/landscape
  :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger]
  :itonami.blueprint/isco-08 "2162"
  :itonami.blueprint/name "Landscape Architecture Design Practice"
  :itonami.blueprint/governor :landscape-governor
  :itonami.blueprint/robotics true
  :db/id -1
  :itonami.blueprint/status :public-oss
  :itonami.blueprint/id "cloud-itonami-isco-2162"
  :itonami.blueprint/license "AGPL-3.0-or-later"}]
